<menu><customerName>Chirag</customerName><OrderDetailsDTO><name>Espresso</name><price>3.0</price><quantity>1</quantity><amount>3.0</amount><taxRate>3.1500000000000004</taxRate><totalAmount>3.0945</totalAmount></OrderDetailsDTO><OrderDetailsDTO><name>Latte</name><price>4.0</price><quantity>1</quantity><amount>4.0</amount><taxRate>4.2</taxRate><totalAmount>4.168</totalAmount></OrderDetailsDTO></menu>